rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // only the markers collection is available
    match /markers/{document=**} {
      // allow anyone to read (logged in or not)
      allow read: if true
      // allow logged in users to create markers (but not edit or delete them)
      allow create: if request.auth.uid != null;
    }

    // extra rules for comments
    match /markers/{marker}/comments/{document=**} {
      // allow editing and deleting comments that are tagged with our own uid
      allow update, delete: if request.auth.uid != null && resource.data.userid == request.auth.uid;
    }
  }
}